$lightGray: #D2D6D9;
$green: #72A603;
$yellow: #D9A404;
$dijonYellow: #BF7E04;
$red: #D91604;
$darkRed: #A60303;
$black: #0D0D0D;

$headerFont: 'Road Rage', cursive;
$bodyFont: 'Source Sans Pro', sans-serif;