@use '../../styles/variables' as var;
@use '../../styles/mixins' as mix;

.recipe-details {
  display: flex;
  line-height: 30px;
  padding-left: 3%;
  margin: 5% 10%;
  white-space: pre-wrap;
}

.image-large {
  width: 60%;
}

h3 {
  font-size: 2em;
  line-height: 1em;
}

li {
  font-size: 1.2em;
  line-height: 1.6em;
}

.selected-name {
  font-size: 2.5em;
  color: var.$darkRed;
}

.title-style {
  flex: 1;
}

.instructions {
  flex: 1;
}

@media (min-width: 320px) and (max-width: 767px) {
  .recipe-details {
    flex-direction: column;
    padding-right: 3%;
  }

  .image-large {
    width: 100%;
  }

  .instructions {
    padding-right: 3%;
  }

}