@use '../../styles/variables' as var;
@use '../../styles/mixins' as mix;

.recipe-details {
  font-size: .25em;
  display: flex;
  line-height: 30px;
  padding-left: 3%;
}

.image-large {
  width: 85%;
}

h2 {
  font-size: 2em;
  color: var.$dijonYellow;
}

.title-style {
  flex: 1;
}

.instructions {
  flex: 1;
}
