@use '../../styles/variables' as var;
@use '../../styles/mixins' as mix;

header {
  background: var.$yellow;
  font-family: var.$headerFont;
  height: 2.75em;
  @include mix.flex-layout(normal, nowrap, normal, space-between, center);
  padding: 2%;
}

span {
  font-weight: 300;
  font-style: italic;
  font-size: .35em;
}

input {
  height: 2.5em;
  border-radius: 8px;
  outline: none;
  border: none;
}

button {
  height: 2rem;
  width: 4rem;
  border-radius: 8px;
  border: none;
  margin-left: 5px;
  font-family: var.$bodyFont;
}