@use '../src/styles/variables' as var;
@import '../node_modules/@csstools/normalize.css/normalize.css';
// @import '../node_modules/@csstools/normalize.css/opinionated.css';

body {
  margin: 0;
  font-family: var.$bodyFont;
  font-size: 1em;
  overscroll-behavior: none;
  background-color: var.$lightGray;
}
